<div class="container more-container">
  <h3>{{ site.more_title | default: "Certification" }}</h3>
  <div class="col-md-12 certification-container">
    {% for certification in site.data.certification %}
      <a class="certification" href='{{ certification.uri }}' target='_blank'>
        <img src='{{ certification.image }}' title='{{ certification.name }}' style="height: 12em;"></img>
      </a>
    {% endfor %}
  </div>
</div>
