<div class="container footer-container">
  <p>
    {{ site.name | escape }} -
    <a href="mailto:{{ site.email }}" target="_blank">{{ site.email | escape }}</a>
    {%- if site.footer_show_references -%}
      &nbsp;- References on request
    {%- endif -%}
    <br /><a href="/files/2019-12-website-cv-Bertrand_BENOIT-en.pdf">Complete Curriculum Vitae</a>
  </p>
</div>

<script src="/assets/js/jquery-3.4.1.slim.min.js" type="text/javascript"></script>
<script src="/assets/js/theme-switcher.js" type="text/javascript"></script>
