<div class="container header-contianer">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 header-left">
      <h1>{{ site.name | escape }}</h1>
      <h2>{{ site.title | escape }}</h2>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 header-right">
      <div class="theme-switcher">Dark mode: <span class="inner-switch">OFF</span></div>
      <ul class="icons no-print">
        {%- if site.gitlab_username -%}
          <li>
            <a target="_blank" href="https://gitlab.com/{{ site.gitlab_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-gitlab" title="Gitlab"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.github_username -%}
          <li>
            <a target="_blank" href="https://github.com/{{ site.github_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-github" title="Github"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.stackoverflow_username -%}
          <li>
            <a target="_blank" href="https://stackoverflow.com/users/{{ site.stackoverflow_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-stack-overflow" title="Stackoverflow"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.linkedin_username -%}
          <li>
            <a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-linkedin" title="Linkedin"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.xing_username -%}
          <li>
            <a target="_blank" href="https://www.xing.com/profile/{{ site.xing_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-xing" title="Xing"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.checkio_username -%}
          <li>
            <a target="_blank" href="https://py.checkio.org/user/{{ site.checkio_username| escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-python" title="Checkio"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.kaggle_username -%}
          <li>
            <a target="_blank" href="https://www.kaggle.com/{{ site.kaggle_username| escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-kaggle" title="Kaggle"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.badgr_collection -%}
          <li>
            <a target="_blank" href="https://badgr.com/public/collections/{{ site.badgr_collection| escape }}" class="button button--sacnite button--round-l">
              <i class="fas fa-certificate" title="Certifications"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.rss_feed -%}
          <li>
            <a target="_blank" href="{{ site.rss_feed| escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-blogger" title="Computer science Experience Knowledge SHAring (CEKSHA)"></i>
            </a>
          </li>
        {%- endif -%}
      </ul>

      {%- if site.email -%}
        <p>
          Email: <a href="mailto:{{ site.email }}" target="_blank">{{ site.email | escape }}</a>
        </p>
      {%- endif -%}
      {%- if site.phone -%}
        <p>
          Phone: {{ site.phone | escape }}
        </p>
      {%- endif -%}
      {%- if site.website -%}
        <p>
          Web: {% include a.html href=site.website %}{{ site.website_name | escape }}</a>
        </p>
      {%- endif -%}
    </div>
  </div>
</div>
