---
# Front matter comment to ensure Jekyll properly reads file.
# @import "rouge-base16-dark";
# @import "default_colors";
---

@import 'modern-resume-theme';

$body-background: #151515 !default;
$body-foreground: #eaeaea !default;
$header: #b5e853 !default;
$blockquote-color:#aaa !default;
$blockquote-border: #666 !default;

$icon-color: #222 !default;
$button-color: #ff6633 !default;
$link-color: #477dca !default;

.theme-switcher {
  text-align: right;
}

.inner-switch {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 1.25rem;
    width: 3.125rem;
    text-align: center;
    font-size: 1rem;
    padding: 0.1875rem;
    margin-left: 0.3125rem;
}

.layout {
  .techno {
    text-align: center;

    p {
      margin-bottom: 3px;
      font-size: 1.5em;
      text-align: inherit;
      font-weight: 300;

      b {
        font-weight: 500;
      }
    }
  }
}

.dark * {
  background-color: transparent;
}

a.certification {
  text-decoration: none;
}

.certification-container {
  text-align: center
}

.dark {
  background: $body-background url("/assets/images/bkg.png") 0 0;
  color: $body-foreground;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;

  a {
    color: $link-color;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-family: Roboto, sans-serif;
    color: $header;
  }

  h4 {
    font-size: 1.8em;
  }

  mark, .footer-container p {
    font-family: inherit;
    color: $header;
  }

  mark {
    background-color: #333;
  }

  .footer-container p {
    color: $header;
    font-style: normal;
  }

  ul li {
    list-style-image:url('/assets/images/bullet.png');
  }

  .techno {
    p {
      font-size: 1.3em;
    }
  }

  .icons i {
    background: none;
    color: $icon-color;
  }

  .icons a:hover i {
    color: $button-color;
  }

  .button--sacnite::before {
    box-shadow: inset 0 0 0 35px $button-color;
  }

  .button.button--sacnite {
    color: $icon-color;
  }

  .button--sacnite:hover {
    color: $button-color;
  }

  .button--sacnite:hover::before {
    box-shadow: inset 0 0 0 2px $button-color;
  }
}
